* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #0f1031;
  background-color: white;
  font-family: sans-serif;
  margin-top: 0px;
}

header {
  background-color: #0a1a2f; /* azul oscuro */
  color: #f1f5f9; /* texto claro */
  padding: 1rem 2rem;
  height: 200px;
}

header h1 {
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 20px 0 0 30px;
  margin-bottom: 0px;
}
header h2 {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0px 0 0 30px;
}

ul {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

main h3 {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

main h4 {
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
}

main p {
  margin-top: 10px;
}

main ul {
  text-align: left;
  margin: 10px 0 10px 10px;
}

#section {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

footer {
  color: white;
  background-color: #272727;
  text-align: center;
  padding: 2%;
}
pre code {
  margin: 10px 20px 10px 30px;
}
